body {
  background-color: rgba(17, 16, 16, 0.873);
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0px;
  padding: 0px;
}
.main {
  width: 90%;
  border: none;
  margin: 50px auto;
  background-color: rgb(255, 255, 255);
  max-width: 800px;
}
.shadow {
  position: relative;
}

ul {
  margin:0px;
  padding:10px;
}
li {
  margin-top: 2px;
}

.Skills li {
  list-style: none;
}
h4,
p {
  margin: 0px;
}
.shadow:after {
  filter: blur(60px);
}
.shadow:before,
.shadow:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  background-image: linear-gradient(to right, #cad2d1 0%, #000000 100%);
  width: calc(100% + 0px);
  height: calc(100% + 0px);
  z-index: -1;
  animation: animate 20s linear infinite;
}
.contact li {
  list-style: none;
  color: #000000;
}

a {
  cursor: pointer;
  color: black;
}
.Education a, .WorkExp a {
  color: rgb(47, 0, 255);
}
.contact li a:hover {
  cursor: pointer;
  color: rgb(47, 0, 255);
}
.date {
  line-height: 15px;
  font-style: italic;
}
.header {
  display: flex;
  padding: 25px 20px;
  justify-content: space-between;
  border-bottom: 2px solid rgb(0, 0, 0);
}
.header h1, .header h2 {
  font-style:normal;
  color:black !important;

}
.Education ul {
  padding-top:0px !important;
}
.collapsible:after {
  content: "\02795"; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}
.Education li {
  margin: 0.5em 0px;
}

h1,
h2,
h3 {
  color:rgb(253, 152, 49);
  text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}
section {
  border-top: 1px solid #232F3E;
  padding: 10px 20px;
}
.content {
  padding: 0px 20px 20px;
}

.info {
  display: none;
}

h1 {
  font-style: italic;
}

.Profile {
  border-top: none;
}
.work {
  margin: 0.5em 0px;
}


@media only screen and (max-width:605px) {
  .header {
   flex-direction: column;
   text-align: center;
  }
  .header ul {
    padding:0px ;
  }
  .header li {
    margin-top:10px;
  }

  section {
    padding:0px;
    padding-bottom: 20px;
  }

  h1 {
    font-style: italic;
  }
  .Project h4{
    font-size:16px;
    font-weight: 650px;
  }
 
}
